<%- include('./partials/header') %>
<main>
    <section id="product-container">
        <% products.forEach(product => { %>
            <div class="product-card">
                <div class="product-image-container">
                    <img class="product-image" src="<%= product.imageUrl %>" alt="image">
                </div>
                <div class="product-info">
                    <h3 class="product-name">
                        <%= product.productName %>
                    </h3>
                    <p class="product-description"><%= product.description %></p> <!-- Added description -->
                    <h3 class="product-price">$<%= product.price %></h3>
                    <button id="<%= product._id %>" type="button" class="btn add-cart-btn">Add To Cart</button>
                </div>
            </div>
        <% }) %>
    </section>
</main>
<%- include('./partials/footer') %>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        function handleAddToCart(event) {
            const button = event.target;
            const productId = button.getAttribute('id');
            const quantity = 1; // Default quantity

            fetch('/auth/cart/add', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ productId, quantity })
            })
            .then(response => response.json())
            .then(data => {
                alert('Product added to cart!');
            })
            .catch(error => console.error('Error:', error));
        }

        // Attach event listeners to Add to Cart buttons
        const addToCartButtons = document.querySelectorAll('.add-cart-btn');
        addToCartButtons.forEach(button => {
            button.addEventListener('click', handleAddToCart);
        });
    });
</script>
    